<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ee6ade3482.js" crossorigin="anonymous"></script>
    <%- include('includes/login-form-style.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <div class="login-page">
            <div class="form">
                <form class="login-form" id='loginForm' action="/login" method='POST'encType="multipart/form-data">
                <input type="text" placeholder="email" id="email" name="email"/>
                <input type="password" placeholder="password" id="pass" name="password"/>
                <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </main>

    <script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</body>

</html>